dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/
doc/tiril.stg
doc/tiril.view.stg
doc/tiril.export.memrise.stg
viril/bin
viril/build
siril/.stack-work/
siril/tiril.cabal
siril/*~
siril/siril.cabal
siril/todo.txt
viril/.work
.old
bin
build
siril/.work