.card-list {
    float:left;
    width:450px;
    padding:4px;
}

.card {
    font-size:2vw;
    cursor: pointer;
    float:left;
    height:auto;
    padding:10px;
    margin:4px 0;
    box-shadow:1px 1px 1px rgba(0,0,0,.2); 
    /* to prevent overlapping while indenting on a card's selection */
    width:calc(100% - 2em); 
    display: inline-block; 
    margin-left:0.5em;
}

.selected {
    margin-left: 1.5em;
}

.grow { 
    transition: .2s ease; 
}

.grow:hover {
    -webkit-transform: scale(1.15); 
    -ms-transform: scale(1.15); 
    transform: scale(1.15); 
}

/*div img {*/
.draggable {
    /* Assuming the element is a picture */
    width: 30px;
    margin-right: 1em;
    cursor:move; 
    cursor:-webkit-grab; 
    cursor:-moz-grab; 
    cursor:grab;
}