/************************************************************/
/* A container below the menu */
.tiril-main-window {
    display: flex;
/*    height: 100vh;*/
    height: 90vh;
/*    height:100%; causes left pane to scroll also */
}
/************************************************************/
/* A list of words on the left of the window, like in the Session-menu */
.tiril-word-list {
    flex-grow: 1;
    max-width: 40vw;
    padding-left: 20px;
    padding-top: 15px;
    padding-right: 30px;
}
/************************************************************/
/* A container for a single word in the list of words on the left */
.tiril-word {
    overflow: hidden;
    font-size: 1.5vw;
    cursor: pointer;
    height: auto;
    width: calc(100% - 2em);
    padding: 10px;
    border: 1px solid #e6e6e6;
    border-style: none;
    border-left-style: solid;
    border-bottom-style: solid;
    margin-left: 0.5em;
    margin-bottom: 7px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    /* grow part */
    transition: .2s ease; 
}

.tiril-word img {
    /* Assuming the element is a picture */
    width: 30px;
    margin-right: 1em;
}

.tiril-word:hover {
    -webkit-transform: scale(1.05); 
    -ms-transform: scale(1.05); 
    transform: scale(1.05); 
}
/************************************************************/
/* The whole pane on the right */
.tiril-right-pane {
    padding: 4px;   
    padding: 0px 10px;
    flex-grow: 5;
    overflow: auto;
    flex-direction: column;
}
/************************************************************/
/* For a single block of translations on the right */
.tiril-detail-container {
    margin: 15px;   
    overflow: auto;
    flex-direction: column;
}
.tiril-detail-container header {
    width: 100%;   
    height: 20px;
    background-color: #375e97; /*#31a9b8;*/
}
.tiril-detail-container div {
    margin-left: 1.5em;
}
/************************************************************/
/* A container for a single translation expression on the right */
.tiril-translation-word {
    overflow: hidden;
    font-size: 1.5vw;
    height: auto;
    width: calc(100% - 2em);
    padding: 10px;
    border: 1px solid #e6e6e6;
    border-style: none;
    border-left-style: solid;
    border-bottom-style: solid;
    margin-left: 0.5em;
    margin-bottom: 7px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
}

.tiril-translation-word img {
    width: 30px;
    margin-right: 1em;
}

.tiril-translation-word div {
    display: flex;
    margin-left: 0px;
    justify-content: space-between;
    width: 100%;
}

.tiril-translation-word sub {
    font-size: 60%;
    color: lightgray;
    font-style: italic
}
/************************************************************/
/* A selection marker */
.selected {
    margin-left: 1.5em;
}
/************************************************************/
/* A marker for Dragula */
.draggable {
    cursor: move; 
}